/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20PX;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.footer {
    position: fixed;
    bottom: 1em;
    width: 100%;
    text-align: center;
   
}

button {
    border: none;
    background-color: transparent;
}