/* You can add global styles to this file, and also import other style files */

/* button {
    border: none;
    background-color: transparent;
    place-content: center;
}
.parent{
    font-family: serif;
    font-size: 20PX;
    display: grid;
    place-items: center;
}

.container {
    background-color: aquamarine;

} */